<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<div th:fragment="footer">
    <footer class="page-footer red darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <p class="grey-text text-lighten-4">Our service uses the <a href="https://www.thetvdb.com">TVDB</a> APIs.</p>
                </div>

            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright Potato TV
                <a class="grey-text text-lighten-4 right" href="https://arnaud.at">Hire us !</a>
            </div>
        </div>
    </footer>
</div>

<nav th:fragment="navbar">
    <div class="nav-wrapper red darken-4">
        <img src="/images/logo.svg" alt="logo">
        <a href="/" class="brand-logo"> Potato TV</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/profile"><i class="material-icons left">view_module</i>My Library</a></li>
            <!--
                <li><a href="/create"><i class="material-icons left">person_add</i>Create Account</a></li>
            <li><a href="/login"><i class="material-icons left">person</i>Login</a></li>
             -->


            <li><a href=""><i class="material-icons left">exit_to_app</i>Sign Out</a></li>

        </ul>
    </div>
</nav>